{{>licenseInfo}}

package {{invokerPackage}}.auth;

import {{invokerPackage}}.Pair;

import java.util.Map;
import java.util.List;

{{>generatedAnnotation}}
public class ApiKeyAuth implements Authentication {
  private final String location;
  private final String paramName;

  private String appToken;


public ApiKeyAuth(String location, String paramName) {
    this.location = location;
    this.paramName = paramName;
  }

  public String getLocation() {
    return location;
  }

  public String getParamName() {
    return paramName;
  }

  public void setAppToken(String appToken) {
    this.appToken = appToken;
  }

  @Override
  public void applyToParams(List<Pair> queryParams, Map<String, String> headerParams) {
    if (appToken == null) {
        return;
    }
    if ("header".equals(location)) {
     headerParams.put(paramName, appToken);
    }
  }
}
